.main-nav {

  display: flex;
  justify-content: space-between;
  padding: 0px;
  align-items: baseline;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  border: red 10px;


}

.left-nav > ul,
.right-nav > ul {
display: flex;
}

.left-nav > ul > li {
  padding: 20px;
  // display: flex;
  flex-direction: row;
}

.right-nav > ul > li {
  // float: right;
  padding: 10px;
  // display: flex;
  flex-direction: row;
  
}

.right-nav > ul > li:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;

font-size: 30px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: lightgray;

}

.left-nav span {

}


.right-nav i {

}

