.main-nav {

  display: flex;
  justify-content: baseline;
  padding: 50px;
  align-items: baseline;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  border: red 1px;

  

}

.left-nav > ul,
.right-nav > ul {

}

.left-nav > ul > li {

}

.right-nav > ul > li {

}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.left-nav span {

}


.right-nav i {

}